<div id="exchanges">
    <div class="card text-white bg-dark m-lg-3 m-md-2 m-sm-2 m-3">
        <div class="card-header"><h3 class="text-center">
            EXCHANGES</h3></a>
        </div>

        <div class="card-body bg-dark-my now_rap">
            <div class="m-2">
                <div class="row">
                    <div class="col col-sm-2 col-lg-3">
                        <h5>ETH</h5>
                    </div>
                    <div class="col col-sm-2 col-lg-3">
                        $ {{eth_usdt_price}}
                    </div>
                    <div class="col col-sm-4 col-lg-3 d-none d-sm-block">
                        {{eth_btc_price}} BTC
                    </div>
                    <div class="col col-sm-4 col-lg-3">
                        <span class="badge badge-primary">{{eth_usdt_change}}%</span>
                    </div>
                </div>
            </div>
            <div class="m-2">
                <div class="row">
                    <div class="col col-sm-2 col-lg-3">
                        <h5>ZIL</h5>
                    </div>
                    <div class="col col-sm-2 col-lg-3">
                        $ {{zil_usdt_price}}
                    </div>
                    <div class="col col-sm-4 col-lg-3 d-none d-sm-block">
                        {{zil_btc_price}} BTC
                    </div>
                    <div class="col col-sm-2 col-lg-3">
                        <span class="badge badge-primary">{{zil_usdt_change}}%</span>
                    </div>
                </div>
            </div>
            <div class="m-2">
                <div class="row">
                    <div class="col col-sm-2 col-lg-3">
                        <h5>RTM</h5>
                    </div>
                    <div class="col col-sm-2 col-lg-3">
                        $ {{price_rtm_usd}}
                    </div>
                    <div class="col col-sm-4 col-lg-3 d-none d-sm-block">
                        {{last_price_bts}} BTC
                    </div>
                    <div class="col col-sm-2 col-lg-3">
                        <span class="badge badge-primary">{{variation24hr}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>