<div id="pool">
    <div class="card text-white bg-dark m-lg-3 m-md-2 m-sm-2 m-3" id="ezil">
        <div class="card-header"><a href="{{link_ezil}}" target="_blank"><h3 class="text-center">Ezil</h3></a>
            <div class="row">
                <div class="col ml-lg-3 ml-md-2 ml-sm-0"><h6>Algo: <span class="badge badge-info">Ehash+Ziliqua</span>
                </h6>
                </div>
                <div class="col ml-lg-3 ml-md-2 ml-sm-0"><h6>Status:
                    {% if not if_ezil_online %}
                    <span class="badge badge-danger">Offline</span></h6></div>
                {% else %}
                <span class="badge badge-success">Online</span></h6></div>
            {% endif %}
            <div class="col ml-lg-3 ml-md-2 ml-sm-0"><h6>Coins: <span class="badge badge-warning">ETH, ZIL</span></h6>
            </div>
        </div>
    </div>
    <div class="card-body bg-dark-my">
        {% if if_ezil_online %}
        <h3 class="card-title font-weight-light">Hashrate</h3>
        <div class="row">
            <div class="col"><h6 class="text-muted">Current:</h6>
                <p class="card-text">
                <h1>{{current_hashrate_ezil}}<span class="text-muted" style="font-size: 15px">MH/s</span></h1></p></div>
            <div class="col"><h6 class="text-muted">Average:</h6>
                <p class="card-text">
                <h1>{{average_hashrate_ezil}}<span class="text-muted" style="font-size: 15px">MH/s</span></h1></p></div>
            <div class="col"><h6 class="text-muted">Reported:</h6>
                <p class="card-text">
                <h1>{{reported_hashrate_ezil}}<span class="text-muted" style="font-size: 15px">MH/s</span></h1></p>
            </div>
        </div>
        <hr>
        <h3 class="card-title font-weight-light">Shares</h3>
        <div class="row">
            <div class="col"><h6 class="text-muted">Valid: 1231</h6>
                <p class="card-text">
                <h1>100%</h1></p></div>
            <div class="col"><h6 class="text-muted">Stale: 0</h6>
                <p class="card-text">
                <h1>0%</h1></p></div>
            <div class="col"><h6 class="text-muted">Invalid: 0</h6>
                <p class="card-text">
                <h1>0%</h1></p></div>
        </div>
        <hr>
        <h3 class="card-title font-weight-light">Balance</h3>
        <div class="row">
            <div class="col"><h6 class="text-muted">Etherium:</h6>
                <p class="card-text">
                <h1>{{ezil_eth}}<span class="text-muted" style="font-size: 15px">ETH</span></h1></p></div>
            <div class="col"><h6 class="text-muted">Ziliqua:</h6>
                <p class="card-text">
                <h1>{{ezil_zil}}<span class="text-muted" style="font-size: 15px">ZIL</span></h1></p></div>
            <div class="col"><h6 class="text-muted">Estimated Earnings:</h6>
                <p class="card-text">
                <h1>{{ezil_usd}}<span class="text-muted" style="font-size: 15px">USD</span></h1></p></div>
        </div>
        <hr>
        {% else %}
        <div class="m-5 text-center">
            <h1>OFFLINE</h1>
            <h6 class="text-muted">Miner not active, or pool address was not configured.</h6>
        </div>
        {% endif %}
    </div>
</div>
</div>

